* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  row-gap: 10px;
}

form {
  display: flex;
  column-gap: 5px;
}

button {
  background-color: royalblue;
  outline: none;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: skyblue;
  border-color: skyblue;
}

button:active {
  outline: none;
}

li {
  border: 1px solid;
}

li p {
  font-size: 14px;
}
