:root {
  --background: rgb(#fffbe0);
}

* {
  box-sizing: border-box;
  background-color: #fffbe0;
  max-width: 990px;

  margin: 0 auto;
  

ul {
  list-style-type: none;
}

#wrap {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  
}

li {
  border: 1px solid;
  border-radius: 10px;
  max-width: 100vw;
  display: flex;
  padding: 20px;
  column-gap: 30px;
  font-size: 16px;
}

span.regifont {
  font-size: 13px;
}
span.addressfont {
  font-size: 13px;
}

li div {
  display: flex;
  column-gap: 10px;
  position: relative;
  top: 15px;
  left: 15px;
  /* font-size: 12px; */
  /* padding: 10px; */
}

li div button.redbtn {
  background-color: tomato;
}
li div button.redbtn:hover {
  background-color: #ff9999;
  border-color: #ff9999;
}
li div button.graybtn {
  background-color: lightgray;
}
li div button.graybtn:hover {
  background-color: #e8e4e4;
  border-color: #e8e4e4;
}
